<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kgitbank.mvc06.MemberDTO" alias="memberDTO"></typeAlias>
		<typeAlias type="com.kgitbank.mvc06.BbsDTO" alias="bbsDTO"></typeAlias>
	</typeAliases>
	
	<mappers>
		<mapper resource="member.xml" />
		<mapper resource="bbs.xml" />
	</mappers>
</configuration>




